@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-sageffine: var(--font-sageffine);
  --font-akkurat: var(--font-akkurat);
}

@theme {
  --animate-spin-astrology: spin-astrology 40s linear infinite;
  --animate-plink: plink 1s linear infinite;
  --animate-flip: flip 0.5s linear;

  @keyframes spin-astrology {
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes plink {
    0% {
      transform: rotate(15deg);
    }

    50% {
      transform: rotate(-15deg);
    }

    100% {
      transform: rotate(15deg);
    }
  }

  @keyframes flip {
    from {
      transform: rotateY(180deg);
    }

    to {
      transform: rotateY(360deg);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

h1, h2, h3 {
  font-family: var(--font-sageffine);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-akkurat);
}
